@model ErrorDto
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Bir hata meydana geldi</h2>

@foreach (var item in Model.Errors)
{
    <p>@item</p>
}

